footer{
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $blue-theme;
  font-size: x-large;
  padding: 1rem;
  justify-content: space-between;

  .admin-link{

    &:hover{
      @include hover-link;
    }

    .active{
      color: $red-theme;
    }
  }
}