header{
  width: 100%;

  .first-row-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: $lightblue-theme;
    color: $white-theme;

    .logo-wrapper{
      font-size: xx-large;

      h1{
        cursor: pointer;

        &:hover{
          @include hover-link-h1;
        }
      }
    }

    .user-wrapper{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      font-size: larger;
      justify-content: center;
      align-items: center;
      align-content: center;

      button{
        padding: 10px;
        border: 3px solid $red-theme;
        background-color: $blue-theme;
        border-radius: 100px;
        text-align: center;
        display: flex;
        gap: 5px;


        &:hover{
          @include hover-link-button;
        }
      }
    }
  }
}

.navbar{
  background-color:$blue-theme;
  color: $white-theme;
  font-size: x-large;
  padding: 0.5rem;
  

  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    li{
      cursor: pointer;

      &:hover{
        @include hover-link;
        text-decoration: underline;
      }
    }
    .active{
      color: $red-theme;
    }
  }
}