header{
  width: 100%;

  .first-row-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: $lightblue-theme;
    color: $white-theme;

    .logo-wrapper{
      font-size: xx-large;

      h1{
        cursor: pointer;

        &:hover{
          color: $red-theme;
          text-shadow: 1px 1px 1px black;
        }
      }
    }

    .user-wrapper{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      font-size: larger;
    }
  }
}

.navbar{
  background-color:$blue-theme;
  color: $white-theme;
  font-size: x-large;
  padding: 2px;
  

  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    li{
      cursor: pointer;

      &:hover{
        color: $red-theme;
      }
    }
    .active{
      color: $red-theme;
    }
  }
}