.transact-wrapper{
display: flex;
align-items: center;
flex-direction: column;

h2{
  margin-top: 40px;
  font-size: $font-size-20;
  text-align: center;
}

  form{
    display: flex;
    flex-direction: column;
    margin: 20px 0 80px 0;
    background-color: $lightblue-theme;
    width: 80%;
    padding: 10px;
    gap: 10px;
    font-size: larger;
    border: 3px solid $blue-theme;
    border-radius: 10px;
    align-items: center;

    .form-control{
      width: 100%;
      display: flex;
      margin-top: 10px;

      &:first-child{
        margin-top: 32px;
      }


    }


    label{
      color: $white-theme;
      height: 35px;
      align-content: center;
      margin-right: 15px;
      width: 20%;
      text-align: end;

    }

    input{
      background-color: white;
      height: 35px;
      border-radius: 10px;
      text-indent: 5px;
      width: 70%;
      margin-right: 10%;
      border: 2px solid transparent;

      &:hover{
        border: 2px solid $red-theme;
      }
    }

    .button-control{
      margin: 2rem;
      padding: 5px;
      border: 3px solid $red-theme;
      background-color: $blue-theme;
      border-radius: 10px;
      font-size: larger;
      color: $white-theme;
      text-align: center;

      button{
        min-width: 75px;
        min-height: 35px;
        text-align: center;
      }

      &:hover{
        @include hover-link-button;
      }

      &:active{
        cursor:default;
      }
    }
  }

  .receipt-wrapper {
    width: 80%;
  }

  .receipt{
    overflow: auto;
    padding: 5px;
    border: 3px solid $blue-theme;
    border-radius: 15px;
    background-color: $lightblue-theme;
    margin: 10px;
    word-wrap: break-word;
    margin-bottom: 2rem;
  
    .receipt-multi{
      color: $white-theme;
      font-size: large;
      display: flex;
      flex-wrap:nowrap;
      flex-direction: column;

        div{
          padding: 5px;
      }
    }

    .receipt-single{
      color: $white-theme;
      font-size: large;
      display: flex;
      flex-wrap:nowrap;
      flex-direction: column;
      padding: 5px;
    }
  }
}
