.userinfo-wrapper{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);

  z-index: 999;

  .userinfo-frame{
    position: relative;
    width: 80%;
    max-width: 600px;
    height: 80%;
    background-color: $lightblue-theme;
    border: 1rem solid $white-theme;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .exit-button{
      position: absolute;
      top: 15px;
      right: 15px;
      margin: 0rem;
      padding: 5px;
      border: 3px solid $red-theme;
      background-color: $blue-theme;
      border-radius: 100px;
      font-size: larger;
      min-width: 40px;
      min-height: 40px;
      text-align: center;

      &:hover{
        @include hover-link-button;
      }
    }

    h2{
      font-size: xx-large;
      padding: 2rem;
      text-align: center;
    }

    .userinfo{
      display: flex;
      flex-direction: column;
      margin: 10px;
      padding: 10px;
      border: 3px solid $blue-theme;
      border-radius: 5px;
      gap: 5px;
      font-size: large;

      .publickey-display{
        cursor: copy;

        &:hover{
          color: $red-theme;
        }
      }
    }

    form{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin: 2rem 0;

      h3{
        font-size: x-large;
        padding: 1rem;
        text-align: center;
      }

      .form-control{
        display: flex;
        align-items: center;
        flex-direction: column;

        label{
          display: flex;
          min-height: 2rem;
          align-items: center;
        }

        input{
          text-indent: 2px;
          color: black;
          background-color: $white-theme;
          min-height: 2rem;
          border-radius: 5px;
        }
      }

      .button-control{
        margin: 3px;
        width: 120px;
        height: 50px;

        button{
          width: 100%;
          height: 100%;
          padding: 15px;
          border: 3px solid $red-theme;
          border-radius: 10px;
          background-color: $blue-theme;
          display: flex;
          text-align: center;
          align-items: center;
          align-content: center;
          justify-content: center;
          font-size: larger;
          gap: 5px;

          &:hover{
            @include hover-link-button;
          }
          
          &:active{
            cursor:default;
          }
        }
      }
    }

    .userinfo-button-wrapper, .button-wrapper{
      margin: 1rem;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;

      .button-control{
        margin: 3px;
        width: 160px;
        height: 60px;

        button{
          width: 100%;
          height: 100%;
          padding: 15px;
          border: 3px solid $red-theme;
          border-radius: 10px;
          background-color: $blue-theme;
          display: flex;
          text-align: center;
          align-items: center;
          align-content: center;
          justify-content: center;
          font-size: larger;
          gap: 5px;

          &:hover{
            @include hover-link-button;
          }
          
          &:active{
            cursor:default;
          }
        }
      }
    }
  }
}